.navbar{
    min-height: 75px;
    margin-bottom: inherit;
}
.navbar-nav {
    float: right;
    margin: 0;
}
.page-header {
     margin: inherit;
}
.navbar .container{
    padding-top: 10px;
    padding-left: inherit;
    padding-right: inherit;
}
.navbar-inverse {
    background-color: #1F1F1F;
    border-color: #1F1F1F;
    border-radius: inherit;
}

a:hover {
    color: #9BD547;
    /*text-decoration: underline;*/
}
.row:before, .row:after {
    display: table;
    content: "";
    line-height: 0;
}
.span8 {
    float: right;
    min-height: 1px;
    margin-right: 10px;
}
.span8 p a{
    font-weight: 600;
}
.span4 {
    width: 240px;
    float: left;
    min-height: 1px;
    margin-left: 10px;
}

@media (min-width: 1200px) {
    .span8 {
        width: 770px;
    }

    .span4 {
        width: 370px;
    }
}
.w600{
    width: 600px;
    border: 2px solid #ddd;
    padding: 20px;
    /*margin-top: 30px;*/
    background-color: #F2F2F2;
    border-radius: 10px;
}
.f-copyright {
    background: #1F1F1F;
    height: 85px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 15px solid #9BD547;
}
.f-copyright {
    position: relative;
    z-index: 10;
}
.f-copyright .footerHolder {
    position: relative;
}
.footer-nav {
    color: #DEDEDE;
    font-family: Arial,'\5B8B\4F53';
    position: absolute;
    left: 0;
    top: 10px;
}
.footer-nav p {
    margin-bottom: 14px;
}
.footer-nav a {
    color: #DEDEDE!important;
}
.footer-nav .footer-nav-cut {
    margin: 0 10px;
    color: #DEDEDE;
}
.bgstyle{
    margin: 0 auto;
    padding: 50px 0
}
/*个人资料*/
.cvheader{
	  border-bottom: 1px solid #DFDFDF;
	  padding-top:30px;
	  padding-bottom:20px;
	}

	.cvheader h1{
	  margin:0;
	}

	.address{
	  background: #efb73e;
	  color: #fff;
	  padding: 10px 0;
	}

	.cvbody{
	  padding-top: 50px;
	}

	.cbox{
	  margin-bottom: 30px;
	  color: #FFF;
	  padding: 50px;
	}
	.green{
	  background: #2ecc71;
	}

	.red{
	  background: #dd4814;
	}

	.bbox{
	  border: 1px solid #DFDFDF;
	  border-radius: 5px;
	  margin-bottom:30px;
	  padding: 50px;
	}
/*个人资料*/