.navbar{
    margin-bottom: inherit;
}
.page-header {
     margin: inherit;
}
.container{
    padding-left: inherit;
    padding-right: inherit;
}
.navbar-inverse {
    background-color: #F2F2F2;
    border-color: #F2F2F2;
}

a:hover {
    color: #9BD547;
    /*text-decoration: underline;*/
}
.row:before, .row:after {
    display: table;
    content: "";
    line-height: 0;
}
.span8 {
    float: right;
    min-height: 1px;
    margin-right: 10px;
}
.span8 p a{
    font-weight: 600;
}
.span4 {
    width: 240px;
    float: left;
    min-height: 1px;
    margin-left: 10px;
}

@media (min-width: 1200px) {
    .span8 {
        width: 770px;
    }

    .span4 {
        width: 370px;
    }
}

