{% extends "innerbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet"  href="{{ url_for('static', filename='tag/tab.css') }}">
{% endblock %}
{% block timeshow %}
<div class="bgsign bgstyle">
    <div class="page-header w600">
        <h1>Edit !</h1>
        <div class="plus-tag tagbtn clearfix" id="myTags"></div>
        <div class="form-group required show-tag">
            <label class="control-label" for="name">Your tags</label>
            <input id="" name="" type="text" class="form-control" maxlength="5" />
            <button type="button" class="btn btn-default btn-xs" style="margin-top: 5px">添加标签</button>
            <a href="javascript:void(0);"><button type="button" class="btn btn-primary btn-xs" style="margin-top: 5px">展开标签</button></a>
        </div>
        <div id="mycard-plus" style="display:none;margin-top: -25px;">
            <div class="default-tag tagbtn">
                <div class="clearfix">
                    <a value="-1" title="强迫症" href="javascript:void(0);"><span>强迫症</span><em></em></a>

                </div>
                <div class="clearfix" style="display:none;"><a value="-1" title="媒体" href="javascript:void(0);"><span>媒体</span><em></em></a></div>
                <div class="clearfix" style="display:none;"><a value="-1" title="网络营销" href="javascript:void(0);"><span>网络营销</span><em></em></a></div>
            </div>
            <div align="right"><a href="javascript:void(0);" id="change-tips" style="color:#3366cc;">换一换</a></div>
        </div>
        <script type="text/javascript" src="{{ url_for('static',filename='tag/tab.js') }}"></script>
        {{ wtf.quick_form(form) }}
    </div>

</div>
<script type="text/javascript">
    $(function(){
        $('#name').val('{{ current_user.name }}');
        $('#birth').val('{{ help.format_ts(current_user.birth,'%Y-%m-%d') }}');
        $('#pho').prev().after('<p> <img data-toggle="tooltip" data-placement="left" id="avatar" title="" class="img-responsive img-rounded" src="{{ url_for('authmain.upload',pho=current_user.pho) }}" alt="" data-original-title="I`m {{ current_user.name }}"> </p>');
    })
</script>
{% endblock %}
