{% extends "innerbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Sign up{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(function(){
        $('.bgsign').backstretch([
            '{{ url_for('static',filename='homepage/img/backgrounds/1.jpg') }}',
            '{{ url_for('static',filename='homepage/img/backgrounds/2.jpg') }}',
            '{{ url_for('static',filename='homepage/img/backgrounds/3.jpg') }}',
            '{{ url_for('static',filename='homepage/img/backgrounds/4.jpg') }}'
        ], {duration: 3000, fade: 750});
    });

</script>
{% endblock %}
{% block timeshow %}
<div class="bgsign bgstyle">
    <div class="page-header w600">
    <h1>Sign up !</h1>
    {{ wtf.quick_form(form) }}
    </div>
</div>

{% endblock %}
