{% extends "bootstrap/base.html" %}

{% block title %}似水流年-时间线{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet"  href="{{ url_for('static', filename='boot/bootstrap.min.css') }}">
<link rel="stylesheet"  href="{{ url_for('static', filename='homepage/style.css') }}">
<link rel="stylesheet"  href="{{ url_for('static', filename='main.css') }}">
{% endblock %}
{% block body %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static',filename='boot/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='boot/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='boot/moment-with-locales.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='homepage/jquery.backstretch.min.js') }}"></script>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="header">
        <div class="logo span4">
            <img src="{{ url_for('static',filename='web_logo.png') }}" width="50px" height="50px" style="float: left;margin-top:5px">
            <h1><a href="/">Time-line</a> <span>.</span></h1>
        </div>
        <div class="call-us span8">
            <p><a href="{{ url_for('frontend.signin') }}">Sign in</a><span style="color: #fff;"> or </span> <a href="{{ url_for('frontend.signup') }}">Sign up</a></p>
        </div>
    </div>
    </div>
</div>
{% block timeshow %}
{% endblock %}
{% endblock %}

{% block content %}
{% endblock %}
<div class="f-copyright">
    <div class="grid-1200 footerHolder">
        <div class="footer-nav" style="text-align: center;position:inherit;">
            <p>
                <a href="#">Author contact（Mobile phone:18825189732）</a>
            </p>
            <p style="color: #DEDEDE;">Copyright © 2017-2018 Time-line All right reserved</p>
        </div>
    </div>
</div>
{% endblock %}